header#admin-header {
  height: 80px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

header#admin-header .admin-header-content {
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
  height: 80px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header#admin-header .admin-header-content h1 {
  color: #6b179c !important;
}
